{% extends "base.html" %}
{% load static %}
{% block title %}Doctors{% endblock %}

{% block content %}
<div class="pt-5">
 <h2 class="text-center"> Our Expert Ophthalmologists</h2>
  <div class="card-container pt-5">
    <br>
    {% for d in doctors %}
    <div class="card">
        <img src="{{ d.doc_image.url }}" alt="{{ d.doc_name }}">
        <div class="card-content">
          <h3 class="card-title">{{ d.doc_name }}</h3>
          <p>{{ d.doc_spec }}</p>
          <p>{{ d.dep_name }} Department</p>
        </div>
      </div>
    {% endfor %}
  </div>
  </div>
{% endblock %}
