@import url(components/doctors.css);

body {
  font-family: Arial, sans-serif;
  background-color: #f4f7f6;
  margin: 0;
  
}

li:hover{
    background-color: gray;
    border-radius: 6px;
}
li:hover a{
    text-decoration: underline;
}