{% extends "base.html" %}
{% load static %}
{% block title %}
home
{% endblock%}

{% block content%}
<div>
<div>
    <img src="{% static 'image/image1.jpeg' %}" alt="image1" width="620" height="390" >
    <img src="{% static 'image/image2.jpeg' %}" alt="image2" width="435" height="320"  >
    <img src="{% static 'image/image3.jpeg' %}" alt="image3" width="435" height="320" >
</div>
<div class="text-center mt-5">
    
        <img src="{% static 'image/Hands.webp' %}" alt="Our Vision" width="435">
    
    <h3 class="mt-4">Our Vision</h3>
    
    <p class="lead w-55 ">
       Your hospital vision description goes here.<br> Write a few sentences 
       about your goals, patient care philosophy,<br>and commitment to the community.
    </p>

  </div>
 
</div>
{% endblock%}