# Created by venv; see https://docs.python.org/3/library/venv.html
# Python
__pycache__/
*.pyc

# Django
*.log
db.sqlite3
db.sqlite3-journal

# Virtual Environment
# (change 'venv' to your folder's name if it's different)
venv/
.venv/
env/

# Environment variables
.env
*.env

# Media files
media/